
#container {
	width: 650px;
	margin: 0 auto;

}

.card {

	margin-bottom: 50px;
	padding-top: 10px;
	padding-left: 20px;
	border-radius:5px;
	box-shadow: 1px 2px 1px lightgray;
	text-align: center;
	background-color: white;

	padding-bottom: 30px;
}

.img-circle {
	border-radius: 50%;
}

#btn-red {
	  padding-top: 20px;
	  border-radius: 10px;
	  background-color:#DD5555;
	  width: 350px;
	  height: 40px;
	  color:white;
	  font-weight: 700;
	  margin: 0 auto;
}

body {
	background-color: #F1F1F1;
	color:#8C8C8C;
}

h1 {
	color: red;
	font-family: 'Montserrat', sans-serif;
}

h2 {

	font-family: 'Montserrat', sans-serif;
}

p {

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}


ul li {
	display: inline-block; /*  pour que la liste soit horizontale */
	color:#CCCCCC;
	padding: 30px;
	list-style: none;
	
}

ul li *{
	padding: 2%;
	display: block;
}


a {
	color:#CCCCCC;
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: yellowgreen;
	text-decoration: none;
}

