
#container {
	width: 520px;
	margin: 0 auto;

}

.card {

	margin-bottom: 50px;
	padding-top: 10px;
	padding-left: 20px;
	box-shadow: 2px 2px 2px #5F5F5F;
	text-align: center;
	background-color: white;
}

body {
	background-color: #F1F1F1;
	color:#8C8C8C;
}

h1 {
	color: red;
	font-family: 'Montserrat', sans-serif;
}

h2 {

	font-family: 'Montserrat', sans-serif;
}

p {

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

li i {
	color:#CCCCCC;
}

a {
	color:#CCCCCC;
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: yellowgreen;
	text-decoration: none;
}