
#container {
	width: 45%;
	margin: 30px auto;

}

.card {

	margin-bottom: 50px;
	padding-top: 20px;
	padding-left: 20px;
	border-radius:5px;
	box-shadow: 1px 2px 1px lightgray;
	text-align: center;
	background-color: white;

	padding-bottom: 30px;
}

.img-circle {
	border-radius: 50%;
}

#btn-red {
	  padding-top: 10px;	
	  border-radius: 10px;
	  background-color:#F45B69;
	  width: 300px;
	  height: 50px;
	  color:white;
	  font-weight: 700;
	  font-size:24px;	
	  margin: 0 auto;
	  box-shadow: 3px 3px 2px #7E858B;
	  
}

#btn-red:hover {
	 background-color:#f43848;
	color:lightyellow;
}

#btn-red:active {
	 box-shadow: 1px 1px 1px #7E858B;
}


body {
	background-color: #F1F1F1;
	color:#8C8C8C;
	font-family:'Oxygen', Arial, sans-serif;
}

h1 {
	color: red;
}



p {
	font-weight: 400;
}

.movie-title {

	font-size:20px;
}

ul li {
	display: inline-block; /*  pour que la liste soit horizontale */
	color:#CCCCCC;
	padding: 30px;
	list-style: none;
	
}

ul li *{
	padding: 2%; 
	display: block;
}


table {
	margin-left:75px;	
}

a {
	color:#CCCCCC;
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: #F45B69;
	text-decoration: none;
}

#side-navbar{
    list-style-type: none;
    text-align: center;
	top: 0;
    margin: 0;
    padding: 0;
    
    width: 5%;
    background-color: #384047;
    color:#788188;
    position: fixed;
    height: 100%;
    
}